<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div class="container-fluid">
        <a href="/oauth2" class="btn btn-primary">Continue with Google</a>
    </div>
</body>
</html>