<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div class="container-fluid">
        <a href="/oauth2?target_path=<%= targetPath %>" class="btn btn-primary">Continue with Google</a>
        <br>
        <a href="/fbauth?target_path=<%= targetPath %>" class="btn btn-primary">Continue with Facebook</a>
    </div>
</body>
</html>